@font-face {
  font-family: 'major_mono_displayregular';
  src: url("../fonts/majormonodisplay-regular-webfont.woff2") format("woff2"), url("../fonts/majormonodisplay-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'major_mono_displayregular';
  src: url("../fonts/majormonodisplay-regular-webfont.woff2") format("woff2"), url("../fonts/majormonodisplay-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'raleway';
  src: url("../fonts/Raleway-VariableFont_wght.ttf") format("ttf"); }

:root {
  --mobile: 0;
  --footer-height: 100px;
  --page-height: calc(100vh - var(--footer-height));
  --page-width: calc(100vw - var(--gutter) * 2);
  --gutter: 20px;
  --font: calc(var(--page-height) / 6);
  font-size: var(--font);
  --color1: #3A6361;
  --color2: #E8ACC8;
  --color3: #36588A;
  --color4: #BC9249;
  --color5: #83838E;
  --color6: #7A3C45;
  --color7: #B86455;
  --color8: #AE867D; }
  @media screen and (max-width: 720px) {
    :root {
      --gutter: 17px;
      --mobile: 1;
      --font: calc(1.2 * var(--page-width) / 6); } }

body {
  margin: 0;
  padding: 0; }
  body::-webkit-scrollbar {
    display: none; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

section {
  --color: rgba(0, 0, 0, 0);
  color: var(--color);
  opacity: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: 1; }

canvas {
  z-index: 0;
  position: fixed;
  left: 0;
  width: 100vw;
  height: 100vh; }

.grid {
  height: var(--page-height);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: grid;
  padding: 20px var(--gutter);
  grid-template-rows: repeat(6, var(--font));
  grid-template-columns: repeat(6, minmax(55px, 1fr)); }
  @media screen and (max-width: 720px) {
    .grid {
      padding: 40px var(--gutter); } }
  .grid .grid_cell {
    grid-row: 1/1;
    grid-column: 1/1; }
  .grid .grid_subtitle {
    font-family: 'major_mono_displayregular';
    line-height: 1rem;
    grid-row: 1/5;
    grid-column: 1/6;
    font-size: 1rem;
    white-space: pre-line; }
  .grid .grid_title {
    font-family: 'major_mono_displayregular';
    grid-row: -3/ -1;
    font-size: 2rem;
    display: flex;
    align-items: center;
    margin-left: -0.02em; }

.text p {
  max-width: 441px;
  font-family: 'raleway';
  font-size: 17px;
  line-height: 31px;
  letter-spacing: 1px;
  grid-row: 1;
  grid-column: 1/5; }
  @media (min-width: 1310px) {
    .text p {
      grid-row: 3/-1;
      grid-column: -2/-5;
      overflow-y: scroll; } }

.text p::-webkit-scrollbar {
  display: none; }

.icon {
  display: block; }
  .icon svg {
    display: block;
    fill: var(--color); }

footer {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0; }
  footer .icons {
    display: flex;
    margin-left: 45px;
    margin-top: 15px;
    flex-direction: row; }
    @media screen and (max-width: 720px) {
      footer .icons {
        width: 100%;
        margin: 0;
        padding: 0 var(--gutter);
        justify-content: space-between;
        box-sizing: border-box; } }
    footer .icons .icon {
      width: 20px;
      height: 20px;
      cursor: pointer;
      margin-right: 15px;
      margin-bottom: 15px;
      background-size: contain; }

/*# sourceMappingURL=main.css.map */