@font-face {
  font-family: 'major_mono_displayregular';
  src: url('../fonts/majormonodisplay-regular-webfont.woff2') format('woff2'),
  url('../fonts/majormonodisplay-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'major_mono_displayregular';
  src: url('../fonts/majormonodisplay-regular-webfont.woff2') format('woff2'),
  url('../fonts/majormonodisplay-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'raleway';
  src: url('../fonts/Raleway-VariableFont_wght.ttf') format('ttf');
}