
footer {
  position: fixed;
  bottom: 0;
  right:0;

 // @include respond-to('desktop'){
    left:0;
 // }

  .icons{
    display:flex;
    margin-left:45px;
    margin-top: 15px;
    flex-direction: column;
  //  @include respond-to('desktop'){
      flex-direction: row;
  //  }

    .icon {
      width: 20px;
      height: 20px;
      cursor: pointer;
      margin-right: 15px;
      margin-bottom: 15px;
      background-size: contain;
    }

    .vimeo{
    }

    .linked-in{
    }

    .medium{
    }

    .email{

    }
    
  }
}
