@import "mixins";

footer {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;

  .icons {
    display: flex;
    margin-left: 45px;
    margin-top: 15px;
    flex-direction: row;

    @include see-tablet{
      width:100%;
      margin:0;
      padding:0 var(--gutter);
      justify-content: space-between;
      box-sizing: border-box;
    }

    .icon {
      width: 20px;
      height: 20px;
      cursor: pointer;
      margin-right: 15px;
      margin-bottom: 15px;
      background-size: contain;
    }

    .vimeo {
    }

    .linked-in {
    }

    .medium {
    }

    .email {

    }

  }
}
