@import 'fonts';



$green: #3A6361;
$pink: #E8ACC8;
$blue: #36588A;
$yellow: #BC9249;
$grey: #83838E;
$maroon: #7A3C45;
$ochre: #B86455;
$beige: #AE867D;

$mobile-width: 720px;
@import "globals";
@import "footer";
